<%- include('./../layouts/login/header') %>
<div class="form-box" id="login-box">
    <div class="header">Register New Membership</div>

    <form id="register-form" action="/auth/register" enctype="multipart/form-data" method="post">
        <input type="hidden" name="_csrf" value="<%= csrf %>">
        <div class="body bg-gray">
        
	<div class="text-danger">*<small> All fields are mandatory</small></div>
            <%
                var flashClass = ' hide'
                var flashMessage = ''
                var flashTypes = ['error', 'success', 'info', 'warning']
                flashTypes.forEach(function (type) {
                    if (typeof (flash) === 'object' && flash.hasOwnProperty(type)) {
                        flashClass = type !== 'error' ? type : 'danger'
                        flashMessage = flashHelper.getFlash(flash, type)
                    }
                })

                if (flashMessage !== '') {
            %>
                <div class="form-group">
                    <div class="alert alert-<%= flashClass %>">
                        <%= flashMessage %>
                    </div>
                </div>
            <% } %>

            <div class="form-group">
                <input type="text" name="f_name"  id= "f_name" class="form-control"
                       placeholder="First Name"/>
                <div class="f_name-error-msg alert-danger hide"></div>
                <%
                    if (typeof (errors) !== 'undefined' &&
                        typeof (errors.f_name) !== 'undefined'
                    ) {
                %>
                    <div class="alert-danger"><%= errors.f_name %></div>
                <% } %>
            </div>

            <div class="form-group">
                <input type="text" name="l_name" id="l_name" class="form-control"
                       placeholder="Last Name"/>
                <div class="l_name-error-msg alert-danger hide"></div>
            </div>

            <div class="form-group">
                <input type="text" name="email" id="email" class="form-control"
                       placeholder="Email ID"/>
                <div class="email-error-msg alert-danger hide"></div>
                <%
                    if (typeof (errors) !== 'undefined' &&
                        typeof (errors.email) !== 'undefined'
                    ){
                %>
                        <div class="alert-danger"><%= errors.email %></div>
                <% } %>
            </div>

            <div class="form-group">
                <input type="password" name="password" id="password" class="form-control"
                       placeholder="Password"/>
                <div class="password-error-msg alert-danger hide"></div>
                <%
                    if (typeof (errors) !== 'undefined' &&
                        typeof (errors.password) !== 'undefined'
                    ){
                %>
                        <div class="alert-danger"><%= errors.password %></div>
                <% } %>
            </div>

            <div class="form-group">
                <input type="text" name="dob" id="dob" class="form-control"
                       placeholder="Date Of Birth"/>
                <div class="dob-error-msg alert-danger hide"></div>
                <%
                    if (typeof (errors) !== 'undefined' &&
                        typeof (errors.dob) !== 'undefined'
                    ){
                %>
                        <div class="alert-danger"><%= errors.dob %></div>
                <% } %>
            </div>

            <div class="form-group">
                <input type="text" name="phone" id="phone" class="form-control"
                       placeholder="Phone"/>
                <div class="phone-error-msg alert-danger hide"></div>
                <%
                    if (typeof (errors) !== 'undefined' &&
                        typeof (errors.phone) !== 'undefined'
                    ){
                %>
                        <div class="alert-danger"><%= errors.phone %></div>
                <% } %>
            </div>

            <div class="form-group">
                <input type="text" name="empcode" id="empcode" class="form-control"
                       placeholder="Employee code"/>
                <div class="empcode-error-msg alert-danger hide"></div>
                <%
                    if (typeof (errors) !== 'undefined' &&
                        typeof (errors.empcode) !== 'undefined'
                    ){
                %>
                        <div class="alert-danger"><%= errors.empcode %></div>
                <% } %>
            </div>

            <div class="form-group">
                <input type="file" name="uploads" id="uploads" class="form-control"
                       placeholder="Upload File"/>
                <div class="uploads-error-msg alert-danger hide"></div>
            </div>


        </div>
        <div class="footer">

            <button type="submit" id="register-me" class="btn bg-olive btn-block">Sign me up</button>

            <a href="/auth/login" class="text-center">I already have a membership</a>
        </div>
    </form>

</div>
<%- include('./../layouts/login/footer') %>