<%- include('./../layouts/dashboard/header') %>

<%- include('./../layouts/dashboard/sidebar')%>

<aside class="right-side">

    <section class="content-header">
                    <h1>
                        Create CodeBase
                        <small>Control panel</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                        <li class="active">Create CodeBase</li>
                    </ol>
    </section>

    <section class="content">

        <div class="row">
          <!-- left column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">

                <form id="codeBaseForm" role="form" method="post" action="/codebase/save"
											enctype="multipart/form-data">

                     <div class="box-body">

                           <div class="form-group">
                                <label>Main category</label>

                                <select class="form-control" name="code_category_list" id="code_category_list">

                                    <option class="cat_default" value="-1">--Select category--</option>
                                    <%- html %>
																		<option class="cat_new" value="createNew">--Create new--</option>

                                </select>
                            </div>

														<div class="form-group">
                                <label>Title</label>
                                <input type="text" class="form-control" id="title" name="title"
                                       placeholder="Enter Title">
                            </div>

														<div class="form-group">
                                <label>Description</label>
                                <textarea id="description" name="description" class="form-control" rows="3" placeholder="Enter ..."></textarea>
                            </div>

														<div class="form-group">
                                <label for="uploads">File uploads</label>
                                <input type="file" id="uploads" name="uploads">
                            </div>

														<div class="form-group">
                                <label>Reference</label> </br>
																<%- userHtml %>

                            </div>

														<div class="form-group">
                                <label>Projects</label>
                                <textarea id="projRef" name="projRef" class="form-control" rows="3" placeholder="Project Reference ..."></textarea>
                            </div>

                    </div> <!-- /.box-body -->

                    <div class="box-footer">
                            <button type="submit" class="btn btn-primary" id="codeBaseButton">Submit</button>
                            <a href= "/" class="btn btn-warning" >Cancel</a>
                    </div>
                </form>

            </div>
          </div>
        </div>

     </section>

</aside>


<div class="modal fade" id="create-category" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create Category</h4>
        </div>
        <div class="modal-body">
          <p>Please fill the below details to add a new category.</p>
          <form id="categoryForm" action="/categories/create" method="post">
              <div class="form-group">
                                <div class="form-group">
                                    <label>Category Name</label>
                                    <input type="text" class="form-control" id="category_name"
                                          name="category_name" placeholder="Enter Title">
                                </div>

                                <div class="form-group">
                                    <label>Category Description</label>
                                    <textarea class="form-control" rows="3" id="category_desc"
                                              placeholder="Enter ..."></textarea>
                                </div>
              </div>
          </form>
        </div>
        <div class="modal-footer">
					<button type="button" id="modalSave" class="btn btn-success" data-dismiss="modal">Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
</div>

<div class="modal fade" id="create-sub-category" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create Sub Category</h4>
        </div>
        <div class="modal-body">
          <p>Please fill the below details to add a new sub category.</p>
          <form id="subCategoryForm" action="/categories/sub_cat_create" method="post">
              <div class="form-group">
                                <div class="form-group">
                                    <label>Sub Category Name</label>
                                    <input type="text" class="form-control" id="sub_category_name"
                                          name="sub_category_name" placeholder="Enter Title">
                                </div>

                                <div class="form-group">
                                    <label>Sub Category Description</label>
                                    <textarea class="form-control" rows="3" id="sub_category_desc"
                                              placeholder="Enter ..."></textarea>
                                </div>
              </div>
          </form>
        </div>
        <div class="modal-footer">
					<button type="button" id="modalSubCatSave" class="btn btn-success" data-dismiss="modal">Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
</div>


<%- include('./../layouts/dashboard/footer')%>