<%- include('./../layouts/dashboard/header') %>

<%- include('./../layouts/dashboard/sidebar')%>


<aside class="right-side">

    <section class="content-header">
                    <h1>
                        Create Categories
                        <small>Control panel</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                        <li class="active">Create Categories</li>
                    </ol>
    </section>

    <section class="content">

        <div class="row">
          <!-- left column -->

					<div class="col-md-12">

          <div class="col-md-6 mtop10" >
            <!-- general form elements -->
               <input type= "button" class="cat_new btn btn-primary" id="cat_new" value="Create New">


          </div>
					</div>

					<!-- new class-->
					<div class="col-md-6">

							<div class="box">

                  <div class="box-header">
                      <h3 class="box-title">Category List</h3>
                  </div><!-- /.box-header -->

                  <div class="box-body">
                    <table class="table table-bordered">

                      <thead>
                        <tr>
                            <th>Category</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                      </thead>

                      <tbody>
                        <%
                        for( var i=0; i< Object.keys(allDomain).length; i++){

                           %>

                        <tr>
                            <td><%= allDomain[i].domain %></td>
                            <td><%=(allDomain[i].status === 0)
                                   ? 'Pending'  : 'Active'  %></td>
                            <td>
                              <% if (allDomain[i].status === 0) {%>

                                <a class="btn btn-primary"
                                   href="../categories/approve/<%=allDomain[i].domain_id%>">
                                    Approve
                                </a>
                              <% } else { %>

                                <a class="btn btn-danger"
                                   href="../categories/reject/<%=allDomain[i].domain_id%>">
                                   Reject
                                </a>

                                <% } %>
                            </td>
                        </tr>

                        <% } %>
                      </tbody>

                    </table>
                  </div><!-- /.box-body -->

									<div class="box-footer clearfix">
                  	<ul class="pagination pagination-sm no-margin pull-right">
                    	<% if(totalCount !== 0) {
                            var currentPage = page
                            console.log(currentPage)
                            var page = Math.ceil(totalCount / limitCount)
                            for(var i = 1; i <= page; i++ ){ %>
                              	<li class ="cat-list <% if (currentPage == i){ %>active<% } %>" id="catPage_<%= i%>">
                                  <a class="cat-pagination" href="categories/create/<%= i %>" ><%=i%></a>
                                </li>

                      <%     }
                         }
                      %>
                    </ul>
                  </div>
              </div><!-- /.box -->

          </div> <!-- end of new class -->

						<!-- new class-->

    	</div>

    </section>

</aside>


<div class="modal fade" id="create-category" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create Category</h4>
        </div>
        <div class="modal-body">
          <p>Please fill the below details to add a new category.</p>
          <form id="categoryForm" action="/categories/create" method="post">
              <div class="form-group">
                                <div class="form-group">
                                    <label>Category Name</label>
                                    <input type="text" class="form-control" id="category_name"
                                          name="category_name" placeholder="Enter Title">
                                </div>

                                <div class="form-group">
                                    <label>Category Description</label>
                                    <textarea class="form-control" rows="3" id="category_desc"
                                              placeholder="Enter ..."></textarea>
                                </div>
              </div>
          </form>
        </div>
        <div class="modal-footer">
					<button type="button" id="modalSave" class="btn btn-success" data-dismiss="modal">Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
</div>

<div class="modal fade" id="create-sub-category" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create Sub Category</h4>
        </div>
        <div class="modal-body">
          <p>Please fill the below details to add a new sub category.</p>
          <form id="subCategoryForm" action="/categories/sub_cat_create" method="post">
              <div class="form-group">
                                <div class="form-group">
                                    <label>Sub Category Name</label>
                                    <input type="text" class="form-control" id="sub_category_name"
                                          name="sub_category_name" placeholder="Enter Title">
                                </div>

                                <div class="form-group">
                                    <label>Sub Category Description</label>
                                    <textarea class="form-control" rows="3" id="sub_category_desc"
                                              placeholder="Enter ..."></textarea>
                                </div>
              </div>
          </form>
        </div>
        <div class="modal-footer">
					<button type="button" id="modalSubCatSave" class="btn btn-success" data-dismiss="modal">Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
</div>





<%- include('./../layouts/dashboard/footer') %>