<%- include('./../layouts/dashboard/header', {title, href}) %>

<%- include('./../layouts/dashboard/sidebar', {title}) %>


<aside class="right-side">

    <section class="content-header">
                    <h1>
                        Create Categories
                        <small>Control panel</small>
                    </h1> 
                    <ol class="breadcrumb">
                        <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                        <li class="active">Create Categories</li>
                    </ol>
    </section>

    <section class="content">

        <div class="row">
          <!-- left column -->
					
					<div class="col-md-12">

          <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">

                <form id="categoryForm" role="form" method="post" action="/categories/add" 
											enctype="multipart/form-data">
											
                    <div class="box-body">
                        
                          <div class="form-group">
                                <label>Main category</label>
                        
                                <select class="form-control" name="category-list" id="category-list">
									
                                    <option class="cat_default" value="-1">--Select category--</option>
                                    <%- html %>	
									<option class="cat_new" value="createNew">--Create new--</option>
                               
                                </select>
                          </div>

                          <div class="form-group">
                                <label>Sub category</label>
                                <select class="form-control" name="sub-category-list" id="sub-category-list" disabled>
                               
                                </select>                            
						    					</div>

                    </div> <!-- /.box-body -->

                </form>  
            </div>

          </div> 
					</div>

					<!-- new class-->
					<div class="col-md-6">

							<div class="box">

                  <div class="box-header">
                      <h3 class="box-title">Category List</h3>
                  </div><!-- /.box-header -->

                  <div class="box-body">
                    <table class="table table-bordered">
                      
                      <thead>
                        <tr>
                            <th>Category</th>
                            <th>Status</th>
                            <th>Action</th>                                                
                        </tr>
                      </thead>

                      <tbody>                       
                        <%
                        for( var i=0; i< Object.keys(allDomain).length; i++){
                          console.log(allDomain[i])
                           %>

                        <tr>
                            <td><%= allDomain[i].status %></td>
                            <td><%=(allDomain[i].status === 0) ? 'Pending' : 'Active'  %></td>
                            <td>
                              <% if (allDomain[i].status === 0) {%>
                                <a class="btn btn-primary" href="">Approve</a>
                              <% } else { %>
                                <a class="btn btn-danger" href="">Reject</a>
                                <% } %>
                            </td>
                        </tr>
                        
                        <% }  %>
                      </tbody>

                    </table>
                  </div><!-- /.box-body -->
                  
									<div class="box-footer clearfix">
                  	<ul class="pagination pagination-sm no-margin pull-right">
                    	<li><a href="#">&laquo;</a></li>
                      <li><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li><a href="#">&raquo;</a></li>
                    </ul>
                  </div>
              </div><!-- /.box -->

          </div> <!-- end of new class -->
					
						<!-- new class-->
					<div class="col-md-6">

							<div class="box">

                  <div class="box-header">
                      <h3 class="box-title">Sub Category List</h3>
                  </div><!-- /.box-header -->

                  <div class="box-body">
                    <table class="table table-bordered">
                      
											<tr>
                        <th style="width: 10px">#</th>
                        <th>Category</th>
											  <th>Sub Category</th>
												<th>Status</th>
                        <th style="width: 40px">Action</th>
                      </tr>
                      
											<tr>
                        <td>1.</td>
                        <td>PHP</td>
                        <td>Yii</td>
												<td>Active</td>
                        <td><button class="btn btn-danger">Reject</td>
                      </tr>

                      <tr>
                        <td>2.</td>
                        <td>PHP</td>
                        <td>Yii2</td>
												<td>Active</td>
                        <td><button class="btn btn-danger">Reject</td>
                      </tr>

											<tr>
                        <td>3.</td>
                        <td>Python</td>
                        <td>Django</td>
												<td>Pending</td>
                        <td><button class="btn btn-success">Approve</td>
                      </tr>

                    </table>
                  </div><!-- /.box-body -->
                  
									<div class="box-footer clearfix">
                  	<ul class="pagination pagination-sm no-margin pull-right">
                    	<li><a href="#">&laquo;</a></li>
                      <li><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li><a href="#">&raquo;</a></li>
                    </ul>
                  </div>
              </div><!-- /.box -->

          </div> <!-- end of new class -->
					

    	</div>
     
    </section>     

</aside>   


<div class="modal fade" id="create-category" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create Category</h4>
        </div>
        <div class="modal-body">
          <p>Please fill the below details to add a new category.</p>
          <form id="categoryForm" action="/categories/create" method="post">
              <div class="form-group">
                                <div class="form-group">
                                    <label>Category Name</label>
                                    <input type="text" class="form-control" id="category_name"
                                          name="category_name" placeholder="Enter Title">         
                                </div>

                                <div class="form-group">
                                    <label>Category Description</label>
                                    <textarea class="form-control" rows="3" id="category_desc" 
                                              placeholder="Enter ..."></textarea>
                                </div>
              </div>
          </form>
        </div>
        <div class="modal-footer">
					<button type="button" id="modalSave" class="btn btn-success" data-dismiss="modal">Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
</div>

<div class="modal fade" id="create-sub-category" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create Sub Category</h4>
        </div>
        <div class="modal-body">
          <p>Please fill the below details to add a new sub category.</p>
          <form id="subCategoryForm" action="/categories/sub_cat_create" method="post">
              <div class="form-group">
                                <div class="form-group">
                                    <label>Sub Category Name</label>
                                    <input type="text" class="form-control" id="sub_category_name"
                                          name="sub_category_name" placeholder="Enter Title">         
                                </div>

                                <div class="form-group">
                                    <label>Sub Category Description</label>
                                    <textarea class="form-control" rows="3" id="sub_category_desc" 
                                              placeholder="Enter ..."></textarea>
                                </div>
              </div>
          </form>
        </div>
        <div class="modal-footer">
					<button type="button" id="modalSubCatSave" class="btn btn-success" data-dismiss="modal">Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
</div>





<%- include('./../layouts/dashboard/footer') %>